:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  background-color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --header-height: 3rem;
  --toolbar-height: 2rem;
  --footer-height: 5rem;
  --z-tooltip: 10;
  --z-fixed: 100;
  --collapse-at-width: 600px;
  --first-color: hsl(145, 37%, 55%);
  --title-color: hsl(0, 0%, 95%);
  --text-color: hsl(0, 0%, 75%);
  --body-color: hsl(0, 0%, 6%);
  --body-font: "Montserrat", sans-serif;
  --second-font: "Dancing Script", cursive;
  --h2-font-size: 1.25rem;
  --small-font-size: 0.813rem;
  --font-semi-bold: 600;
}

*,
::before,
::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  /* outline: 1px solid red; */
}

body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow-x: visible;
}

.main-layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

.content-wrapper {
  margin-top: var(--header-height);
  display: flex;
  flex-grow: 1;
}

.main-layout main {
  flex-grow: 1;
}

.footer {
  background-color: #f1f1f1;
  text-align: center;
  position: relative;
  bottom: 0;
  width: 100%;
}

/* Copied from https://reactrouter.com/en/main/start/tutorial#handling-not-found-errors */
#error-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 0.9rem;
}

.chart-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin-bottom: 1rem;
}

.card-body {
  padding-bottom: 0.2rem;
  min-height: 15rem;
}

.card-form-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 2.5rem;
}

.card-form-heading {
  font-size: 1.5rem;
}
