@import "bootstrap/dist/css/bootstrap.min.css";

.sidebar {
  position: fixed;
  top: 3.5em;
  /* padding-bottom: var(--footer-height); */
  left: 0;
  height: 100vh;

  background-color: #f0f0f0;
  overflow-x: hidden;
  border-radius: 0 !important;
}

@media (max-width: var(--collapse-at-width)) {
  .sidebar {
    display: none;
  }
  .main {
    margin-left: 0 !important;
  }
}
